.blue{
    color: blue;
    background-color: black;
}
.red{
    color: red;
    background-color: black;
}
span{
    text-transform: uppercase;
    color: blanchedalmond;
    background-color: black;
}